doctype html
html
  head
    title= title
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    link(rel='stylesheet', href='/stylesheets/object-renderer.css')
    link(rel='stylesheet', href='/stylesheets/chart.css')
  body
    #object-container
    #footer
      span This chart was last updated #{new Date(data.timestamp).toGMTString()}
    script.
      var data = !{JSON.stringify(data)}
    script(data-main='/javascripts/init.js' src='/resources/assets/external/requirejs/require.js')